.footer {
    background-color: rgba(1, 16, 50, 1);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 64px 80px 48px;
    margin: 4px auto 0;
    max-width: 1440px;
}

.foot_top {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 64px;
}

.foot_tleft ul {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 32px 0 0;
}

.foot_tleft ul li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.foot_tright h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    color: white;
}

.foot_tright .foot_email {
    display: flex;
    align-items: center;
    gap: 16px;
}

.foot_email input {
    width: 285px;
    padding: 10px 14px;
    height: 44px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(213, 215, 218, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(83, 88, 98, 1);
}

.foot_email button {
    background-color: rgba(4, 80, 252, 1);
    border: 1px solid rgba(4, 80, 252, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 33px;
}
.foot_top .foot_tablet_line {
    display: none;
}

@media(max-width:1200px) {
    .foot_top {
        flex-direction: column;

    }
    .footer hr {
        display: none;
    }
    .foot_top .foot_tablet_line {
        display: block;
    }
    .foot_tleft ul {
        flex-wrap: wrap;
    }
}
@media(max-width:620px) {
    .footer {
        padding: 48px 16px;
        border-radius: 0px;
    }
    .footer p {
        margin: 0;
        color: rgba(113, 118, 128, 1);
    }
    .foot_top {
        margin-bottom: 32px;
    }
}
@media(max-width:500px) {
    .foot_tright .foot_email {
        flex-direction: column;
    }
    .foot_email input {
        width: 100%;
    }
    .foot_email button {
        width: 100%;
    }
}