.login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    padding: 140px 0 40px;
}

.login_box {
    max-width: 690px;
    padding: 80px 160px;
    border-radius: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.login_box img {
    display: block;
    margin: 0 auto 24px;
    width: 121px;
}

.login_box h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: rgba(24, 29, 39, 1);
}

.login_box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(83, 88, 98, 1);
    margin: 12px 0 32px;
}

.login_box h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(65, 70, 81, 1);
    margin-bottom: 6px;
}

.login_box input[type="text"], .login_box input[type="password"] {
    border: 1px solid rgba(213, 215, 218, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    height: 44px;
    width: 100%;
    border-radius: 8px;
    padding: 10px 14px;
    margin-bottom: 20px;
}

.login_box input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(113, 118, 128, 1);
}

.login_box input[type="checkbox"] {
    width: 20px;
}

.login_box span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_box span h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(65, 70, 81, 1);
    margin-left: 8px;
}

.login_box span h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(4, 78, 252, 1);
    margin-left: 19px;
}

.login_box button {
    border: 1px solid rgba(4, 78, 252, 1);
    background-color: rgba(4, 78, 252, 1);
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin: 24px 0 32px;
}

.login_box h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(83, 88, 98, 1);
    text-align: center;
}
.login_box h4 a {
    color: rgba(4, 78, 252, 1);
    font-weight: 600;
}