.user_prf {
    margin: 128px auto;
    max-width: 1440px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.user_prf .adm_prf {
    min-height: 100px;
    padding: 96px 115px 127px;
}

.user_prf .theme_head ul {
    min-height: 20px;
}

.prf_selecs_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0 32px;
}

.prf_selecs_wrap div {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
}

.prf_selecs_wrap h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #414651;
}

.prf_selecs_wrap select {
    border: 1px solid #D5D7DA;
    box-shadow: 0px 1px 2px 0px #0A0D120D;
    border-radius: 8px;
    padding: 10px 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #181D27;
    max-width: 752px;
    width: 100%;
}

.prf_fio {
    gap: 6px;
}

.prf_img div img {
    max-width: 64px;
    min-width: 64px;
}

/* Animatsiyali yuklanayotgan holat uchun */
.btn_primary.loadingB {
    position: relative;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #007bff;
    border: 2px solid #cce5ff;
    overflow: hidden;
}

/* Spinner (aylanuvchi doira) */
.btn_primary.loadingB::before {
    content: "";
    position: absolute;
    left: 0.75rem;
    top: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinB 0.8s linear infinite;
    transform: translateY(-50%);
}

/* Spinner animatsiyasi */
@keyframes spinB {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}


@media(max-width:1200px) {
    .prf_img .news-upload-box {
        width: 450px;
    }

    .user_prf .adm_prf {
        padding: 48px 55px 64px;
    }

}

@media (max-width: 800px) {
    .prf_img .news-upload-box {
        width: 300px;
        padding: 86px 16px;
    }

    .prf_selecs_wrap select {
        max-width: 400px;
    }
}

@media(max-width:640px) {
    .prf_fio {
        flex-direction: column;
    }

    .user_prf .adm_prf {
        padding: 48px 26px 64px;
    }

    .prf_img .prf_file_img {
        flex-direction: column;
    }
}

@media(max-width:500px) {
    .prf_img {
        flex-direction: column;
    }

    .user_prf {
        padding: 0;
    }

    .user_prf .adm_prf {
        min-height: auto;
    }

    .user_prf .adm_prf {
        padding: 0px 16px;
    }

    .prf_fio span {
        flex-direction: column;
    }

    .prf_email {
        flex-direction: column;
        gap: 20px;
    }

    .prf_img {
        gap: 20px;
    }

    .prf_img .news-upload-box {
        width: calc(100vw - 34px);
    }

    .prf_selecs_wrap div {
        flex-direction: column;
        gap: 6px;
    }

    .prf_selecs_wrap select {
        max-width: 500px;
    }

    .prf_upd_can_wrap button:nth-of-type(1) {
        display: none;
    }
}